body {
	background-color: #181818;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	padding: 30px;
	margin: 50px;
	width: 175px;
	height: 700px;
	background-color: #202020;
}

.button {
	border: none;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 100ms;
	font-weight: bold;
	width: 150px;
	height: 25px;
}

.squareContainer {
	width: 800px;
	height: 800px;
	border-radius: 10px;
	padding: 10px;
	align-self: center;
	background-color: #202020;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 2px;
}

.square {
	background-color: white;
	border-radius: 3px;
}
