body {
	background-color: #181818;
	overflow: hidden;
}

* {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.title {
	text-align: center;
	font-size: 60px;
	color: white;
}
.footer {
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
	height: 10%;
	padding: 10px;
	font-size: 20px;
	color: white;
}

.mainContainer {
	display: flex;
	justify-content: center;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 175px;
	height: 670px;
	background-color: #202020;
	border-radius: 10px 0px 0px 10px;
}

.button {
	border: none;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 100ms;
	font-weight: bold;
	width: 150px;
	height: 25px;
}

.squareContainer {
	--size: 4;
	width: 720px;
	height: 650px;
	padding: 10px;
	border-radius: 0px 10px 10px 0px;
	align-self: center;
	background-color: #202020;
	display: grid;
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);
}

.squareContainer.gridLines {
	gap: 2px;
}
.square {
	background-color: #3a3a3a;
}

input {
	text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

#optionlabels,
#sizeValue {
	color: white;
	font-size: 18px;
}

.size {
	width: 40px;
}

.rainbow {
	width: 150px;
	height: 25px;
	background-image: linear-gradient(
		90deg,
		violet,
		indigo,
		blue,
		green,
		yellow,
		orange,
		red,
		violet
	);
	border-radius: 10px;
	font-size: 15;
	color: white;
	text-shadow: rgb(0, 0, 0) 2.5px 1px 1px;
	-webkit-text-stroke: 0.3px black;
}

.rainbow.rainbowButtonAnimation {
	animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
	to {
		background-position: 20vw;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a {
	background: linear-gradient(to right, #181818, #181818),
		linear-gradient(
			to right,
			violet,
			indigo,
			blue,
			green,
			yellow,
			orange,
			red,
			violet
		);
	background-size: 100% 3px, 0 3px;
	background-position: 100% 100%, 50% 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

a:hover {
	background-size: 0 3px, 100% 3px;
}
